# Experiment results & checkpoints
experiments/
analysis/**
!analysis/
!analysis/**/
!analysis/**/*.py

# Baseline results
baselines/results/

# Cache
__pycache__/
*.pyc
.ipynb_checkpoints/

# Model weights
*.bin
*.safetensors
*.pt

# Logs
*.log

# OS
.DS_Store
cache/
deprecated/
